.list {    
    padding: 4px;
    text-align: left;
    margin: auto;
    width: 49vw;
    border-radius: 3px 3px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: hsl(274, 15%, 22%);
    cursor: pointer;
    
}

.task {
    display: grid;
    grid-template-columns: 1fr 17fr;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgb(94, 93, 93);
}

.task-done {
    text-decoration:line-through;   
    color: rgb(128 128 128 / 35%);
}

.light {
    color: grey;
    background-color: white;
}

.svg{
    background-color:green;
    border-radius: 5px;
}